In [1]:
import numpy as np 
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pylab as plt

Matplotlib created a temporary config/cache directory at /tmp/matplotlib-dmjpf8ii because the default path (/home/juliosouza/.config/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

In [2]:
data = pd.read_csv("test_scores.csv")

In [5]:
data.head()

,school,school_setting,school_type,classroom,teaching_method,n_student,student_id,gender,lunch,pretest,posttest
0,ANKYI,Urban,Non-public,6OL,Standard,20.0,2FHT3,Female,Does not qualify,62.0,72.0
1,ANKYI,Urban,Non-public,6OL,Standard,20.0,3JIVH,Female,Does not qualify,66.0,79.0
2,ANKYI,Urban,Non-public,6OL,Standard,20.0,3XOWE,Male,Does not qualify,64.0,76.0
3,ANKYI,Urban,Non-public,6OL,Standard,20.0,556O0,Female,Does not qualify,61.0,77.0
4,ANKYI,Urban,Non-public,6OL,Standard,20.0,74LOE,Male,Does not qualify,64.0,76.0

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2133 entries, 0 to 2132
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school           2133 non-null   object
 1   school_setting   2133 non-null   object
 2   school_type      2133 non-null   object
 3   classroom        2133 non-null   object
 4   teaching_method  2133 non-null   object
 5   n_student        2133 non-null   float64
 6   student_id       2133 non-null   object
 7   gender           2133 non-null   object
 8   lunch            2133 non-null   object
 9   pretest          2133 non-null   float64
 10  posttest         2133 non-null   float64
dtypes: float64(3), object(8)
memory usage: 183.4+ KB

There are a lot of the data that is strings that needs to be converted into number. 

Maybe student_id might be not be usefull afterwards.

In [8]:
#Remove the variable student_id which is not usefull
data = data.drop(columns=['student_id'])

In [9]:
#The data is transformed into categorical.
for col in ['school' ,'school_setting', 'school_type', 'classroom', 'teaching_method', 'gender', 'lunch']:
    data[col] = data[col].astype('category')

In [15]:
#enconding the data
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for col in ['school' , 'school_setting', 'school_type', 'classroom', 'teaching_method', 'gender', 'lunch']:
    le.fit(data[col])
    data[col] = le.transform(data[col])
data.head()

In [22]:
def split_train_test(data,test_ratio):
    shuffled_indices = np.random.permutation(len(data))
    test_set_size = int(len(data)*test_ratio)
    test_indices = shuffled_indices[:test_set_size]
    train_indices = shuffled_indices[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]
train,test = split_train_test(data, 0.2)
x_test = test.drop('posttest',axis = 1)
x_train = train.drop('posttest',axis = 1)
y_test = test['posttest'].values
y_train = train['posttest'].values

Before analyse the feature, lets use all data to predict the students score.

Let's use linear Regretion

In [ ]:
#Check the correlation betweem the features
import seaborn as sns
# Correlation matrix for dataset
plt.figure(figsize=(15,10))
sns.heatmap(data.corr(), annot=True, cmap="inferno")

In [26]:
#Function to select the training and test data
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train, y_train)
predictions = reg.predict(x_test)

In [35]:
from sklearn.metrics import confusion_matrix, accuracy_score
predictions = np.round(predictions)
predictions

array([ 67.,  79.,  58.,  62.,  89.,  80.,  44.,  63.,  46.,  56., 101.,
        59.,  79.,  76.,  81.,  87.,  75.,  37.,  52.,  49.,  77.,  81.,
        63.,  52.,  72.,  55.,  49.,  43.,  81.,  55.,  71.,  90.,  81.,
        77.,  84.,  42.,  62.,  81.,  64.,  58.,  72.,  74.,  63.,  55.,
        65.,  76.,  65.,  62.,  66.,  54.,  82.,  53.,  55.,  68.,  75.,
        76.,  46.,  63.,  61.,  55.,  88.,  62.,  40.,  75.,  86.,  48.,
        48.,  44.,  50.,  61.,  73.,  82.,  65.,  54.,  69.,  54.,  76.,
        47.,  78.,  46.,  74.,  93.,  68.,  85.,  84.,  67.,  41.,  62.,
        57.,  78.,  75.,  82.,  53.,  78.,  48.,  57.,  71.,  62.,  73.,
        60.,  52.,  90.,  68.,  87.,  65.,  81.,  92.,  55.,  40.,  83.,
        44.,  94.,  76.,  76.,  65.,  74.,  64.,  56.,  87.,  35.,  52.,
        74.,  55.,  63.,  72.,  72.,  77.,  93.,  44.,  65.,  72.,  64.,
        43.,  69.,  56.,  80.,  67.,  64.,  60.,  52.,  72.,  44.,  61.,
        80.,  51.,  50.,  57.,  49.,  75.,  92.,  58.,  82.,  50.,  76.,
        79.,  64.,  72.,  54.,  56.,  64.,  49.,  52.,  69.,  52.,  59.,
        61.,  75.,  71.,  69.,  76.,  70.,  50.,  50.,  84.,  53.,  83.,
        83.,  76.,  60.,  67.,  87.,  44.,  87.,  50.,  57.,  53.,  80.,
        91.,  42.,  56.,  59.,  74.,  76.,  59.,  44.,  78.,  56.,  67.,
        75.,  71.,  73.,  65.,  83.,  76.,  61.,  73.,  79.,  58.,  74.,
        45.,  49.,  74.,  77.,  77.,  59.,  80.,  70.,  60.,  56.,  70.,
        69.,  47.,  49.,  47.,  55.,  57.,  83.,  52.,  56.,  92.,  79.,
        53.,  69.,  91.,  57.,  88.,  78.,  85.,  84.,  78.,  54.,  51.,
        63.,  46.,  67.,  63.,  72.,  87.,  58.,  61.,  85.,  49.,  64.,
        46.,  56.,  80.,  82.,  68.,  67.,  74.,  57.,  70.,  70.,  62.,
        85.,  65.,  49.,  59.,  61.,  91.,  39.,  59.,  73.,  56.,  72.,
        89.,  59.,  82.,  83.,  76.,  46.,  80.,  63.,  78.,  66.,  64.,
        53.,  49.,  54.,  57.,  71.,  77.,  49.,  54.,  52.,  82.,  74.,
        52.,  79.,  56.,  57.,  54.,  84.,  40.,  79.,  83.,  75.,  70.,
        56.,  63.,  71.,  90.,  69.,  68.,  67.,  74.,  66.,  89.,  63.,
        74.,  51.,  51.,  68.,  55.,  74.,  59.,  61.,  79.,  73.,  50.,
        58.,  63.,  59.,  81.,  69.,  43.,  54.,  58.,  68.,  74.,  70.,
        72.,  67.,  86.,  51.,  57.,  68.,  66.,  47.,  70.,  51.,  73.,
        76.,  73.,  86.,  57.,  78.,  60.,  55.,  66.,  64.,  83.,  60.,
        70.,  75.,  94.,  80.,  69.,  75.,  58.,  92.,  57.,  59.,  57.,
        85.,  52.,  75.,  89.,  50.,  46.,  83.,  79.,  65.,  83.,  54.,
        59.,  68.,  65.,  74.,  53.,  85.,  44.,  67.,  78.,  63.,  59.,
        83.,  61.,  88.,  54.,  69.,  66.,  74.,  61.,  72.,  56.,  60.,
        72.,  43.,  53.,  38.,  82.,  82.,  78.,  62.,  74.,  75.,  50.,
        55., 107.,  93.,  78.,  76.,  88.,  68.,  98.])

In [36]:
y_test

array([ 68.,  81.,  51.,  63.,  94.,  76.,  45.,  61.,  48.,  55.,  98.,
        55.,  80.,  72.,  81.,  83.,  81.,  34.,  55.,  51.,  75.,  91.,
        61.,  56.,  72.,  55.,  50.,  38.,  82.,  57.,  74.,  87.,  81.,
        74.,  86.,  45.,  58.,  82.,  71.,  53.,  74.,  76.,  57.,  52.,
        62.,  75.,  68.,  65.,  67.,  57.,  82.,  57.,  51.,  66.,  76.,
        73.,  43.,  64.,  61.,  53.,  92.,  63.,  43.,  71.,  92.,  44.,
        52.,  40.,  50.,  61.,  70.,  80.,  64.,  59.,  70.,  59.,  79.,
        49.,  84.,  45.,  72.,  96.,  69.,  83.,  87.,  68.,  44.,  59.,
        57.,  76.,  75.,  82.,  53.,  71.,  50.,  58.,  77.,  62.,  81.,
        57.,  48.,  87.,  73.,  88.,  64.,  78.,  93.,  56.,  37.,  87.,
        43.,  96.,  81.,  80.,  68.,  75.,  60.,  55.,  86.,  35.,  56.,
        73.,  54.,  61.,  73.,  71.,  78.,  87.,  42.,  63.,  71.,  64.,
        44.,  73.,  55.,  82.,  65.,  70.,  61.,  62.,  74.,  46.,  59.,
        84.,  52.,  54.,  58.,  52.,  72.,  89.,  62.,  84.,  48.,  77.,
        76.,  64.,  73.,  59.,  58.,  65.,  50.,  49.,  72.,  47.,  63.,
        61.,  77.,  71.,  73.,  70.,  69.,  48.,  50.,  86.,  55.,  86.,
        84.,  74.,  60.,  61.,  87.,  43.,  96.,  48.,  58.,  55.,  78.,
        95.,  42.,  56.,  64.,  74.,  73.,  57.,  45.,  78.,  58.,  67.,
        79.,  71.,  73.,  66.,  83.,  80.,  62.,  74.,  78.,  58.,  77.,
        45.,  45.,  75.,  74.,  78.,  65.,  84.,  68.,  55.,  60.,  71.,
        67.,  43.,  47.,  45.,  56.,  54.,  79.,  51.,  56.,  92.,  79.,
        57.,  69.,  95.,  56.,  89.,  75.,  87.,  89.,  82.,  58.,  51.,
        57.,  53.,  68.,  63.,  72.,  89.,  57.,  61.,  85.,  47.,  65.,
        47.,  57.,  80.,  80.,  70.,  59.,  73.,  53.,  74.,  72.,  59.,
        84.,  67.,  51.,  60.,  59.,  93.,  41.,  57.,  78.,  56.,  71.,
        93.,  61.,  79.,  82.,  71.,  47.,  79.,  61.,  80.,  65.,  66.,
        59.,  48.,  52.,  55.,  72.,  74.,  55.,  56.,  50.,  82.,  73.,
        51.,  81.,  55.,  55.,  54.,  84.,  42.,  76.,  85.,  73.,  69.,
        54.,  63.,  72.,  95.,  71.,  69.,  67.,  76.,  69.,  95.,  62.,
        70.,  52.,  49.,  70.,  54.,  77.,  60.,  54.,  82.,  76.,  56.,
        58.,  62.,  62.,  78.,  62.,  38.,  59.,  55.,  74.,  75.,  72.,
        68.,  63.,  88.,  53.,  59.,  65.,  69.,  45.,  67.,  54.,  75.,
        85.,  71.,  88.,  58.,  79.,  63.,  57.,  65.,  69.,  80.,  56.,
        71.,  71.,  96.,  76.,  64.,  74.,  59.,  91.,  55.,  57.,  62.,
        79.,  48.,  70.,  90.,  50.,  43.,  72.,  77.,  68.,  85.,  56.,
        64.,  70.,  64.,  77.,  52.,  91.,  46.,  67.,  76.,  63.,  62.,
        85.,  63.,  89.,  61.,  69.,  69.,  76.,  63.,  67.,  59.,  62.,
        73.,  45.,  50.,  38.,  80.,  82.,  78.,  56.,  76.,  85.,  49.,
        59., 100.,  95.,  81.,  72.,  83.,  69., 100.])

In [33]:
predictions

array([ 67.14478362,  78.85406526,  58.29823643,  62.38403668,
        89.17839396,  80.44859181,  44.10728258,  63.0534606 ,
        45.50808616,  55.56643496, 101.48033093,  58.92228133,
        79.06294369,  75.92589941,  81.28416787,  87.27490597,
        75.24169062,  37.24224471,  51.91250076,  48.75762219,
        77.03178528,  81.26141228,  63.28793839,  51.75133457,
        72.15146367,  55.24045058,  48.9299784 ,  42.7960364 ,
        80.70532916,  55.04739732,  71.18594355,  90.13400487,
        81.36404725,  76.94240369,  83.95259201,  42.04276067,
        62.48163706,  80.99969032,  63.89268407,  58.23469606,
        72.06498241,  74.34021368,  63.48130969,  54.51958401,
        65.1706052 ,  76.0877936 ,  64.93994248,  62.12782865,
        66.04679546,  53.78144407,  81.83983954,  53.04775764,
        54.76256895,  67.82310116,  74.59856575,  76.40338961,
        46.44833181,  62.92249866,  60.89892957,  55.49175466,
        88.37686035,  61.78368631,  40.44015797,  74.62563199,
        86.0895151 ,  48.28498201,  48.28498201,  44.13832884,
        50.41491839,  61.2021967 ,  73.33417346,  82.06884651,
        64.92371696,  54.03161889,  69.28808656,  53.5615429 ,
        76.19147758,  46.62068802,  78.33189599,  46.05043838,
        73.7251664 ,  92.91632352,  68.40904771,  85.33367479,
        83.51874722,  67.13552635,  41.24992242,  62.16762455,
        56.5406605 ,  78.3193767 ,  74.6439765 ,  82.20979982,
        52.91130505,  78.2937083 ,  48.16137937,  57.30616292,
        71.33946958,  61.89389127,  72.86100349,  60.45801694,
        52.09382608,  90.22812425,  67.65577197,  87.36253183,
        64.60145737,  80.9892687 ,  92.25174436,  55.24045058,
        39.68688223,  82.95117415,  44.13832884,  94.05405473,
        75.6446337 ,  76.46089631,  65.33641634,  74.43216162,
        63.91751139,  55.59585232,  87.01514705,  34.63770507,
        52.23468063,  73.54598833,  55.06358366,  63.4659757 ,
        71.91618317,  72.2960991 ,  76.57026565,  92.91090072,
        44.10728258,  65.25853291,  72.18781925,  64.32284059,
        43.00929442,  69.22505034,  56.335034  ,  80.1449722 ,
        66.98079352,  63.96541155,  59.97025493,  52.12522899,
        72.20404477,  44.31068505,  60.68907985,  80.16943087,
        50.67652459,  50.09850558,  57.37260448,  49.21061396,
        74.57198486,  92.06088063,  57.84047951,  81.83983954,
        49.57853643,  76.4952404 ,  78.59732791,  64.40694164,
        72.07632485,  53.5615429 ,  56.14538548,  64.32284059,
        48.75145704,  52.12212569,  69.46044278,  51.60215654,
        59.22386838,  60.72657336,  75.49761681,  70.61719141,
        69.37456782,  75.59307487,  69.78909228,  50.07891627,
        50.01264327,  84.40804284,  52.77852508,  83.48222501,
        82.8405326 ,  75.53526436,  59.69174341,  67.37531053,
        87.4512284 ,  43.93492637,  86.84279083,  50.24256218,
        57.15552656,  52.66577649,  79.75560178,  90.54531863,
        41.87040445,  55.63015643,  58.81036022,  74.08253322,
        75.84550621,  59.32874638,  43.93492637,  78.27826504,
        55.55542093,  67.22057639,  74.6439765 ,  70.84731142,
        72.70479603,  65.09607317,  83.11868294,  76.03152999,
        61.2021967 ,  72.84181511,  79.04698404,  58.23075822,
        73.69121695,  44.58245421,  49.22522766,  73.62649376,
        76.74606402,  77.2867409 ,  58.63800401,  80.28719587,
        70.06491927,  60.25831618,  56.30052333,  70.06491927,
        69.27411955,  47.0875809 ,  49.21061396,  46.54003438,
        55.23593987,  57.00188604,  83.42417697,  51.92369079,
        55.55542093,  91.7829336 ,  78.59388576,  53.36848963,
        69.42696074,  91.06505962,  57.29647986,  88.2107252 ,
        78.2937083 ,  84.87822396,  83.95259201,  78.49537061,
        54.1195466 ,  50.61158733,  62.91950699,  45.78675864,
        67.40352881,  63.13283274,  72.14466726,  86.52559645,
        58.08454022,  60.63037316,  84.84574236,  49.38297017,
        64.19553156,  45.98072634,  56.38343216,  79.97261599,
        82.24120273,  67.66793935,  66.82773825,  73.94400922,
        57.30512627,  69.61673607,  69.6046341 ,  61.93722386,
        84.97479426,  65.00348591,  48.56365449,  59.01017217,
        60.63037316,  91.44951509,  38.76125028,  58.86137146,
        72.7692227 ,  55.61502855,  71.89054707,  89.04073036,
        59.21697919,  81.60686568,  82.55677894,  75.71939845,
        45.69505607,  80.24641458,  62.57783726,  77.90433788,
        65.65857032,  64.18188729,  52.83813271,  48.82526069,
        54.02574362,  56.65340909,  71.35327275,  76.6492521 ,
        49.45778478,  53.78144407,  51.70687425,  81.66748332,
        73.69121695,  51.81881278,  79.14842642,  55.55542093,
        56.89866122,  53.59140844,  84.40804284,  39.51452602,
        78.5871514 ,  82.80173064,  74.98075244,  69.73567898,
        55.55542093,  63.31279623,  71.25318621,  90.43201566,
        68.5763769 ,  67.93782838,  67.15100433,  73.80777222,
        65.84439623,  88.54921656,  63.23713156,  73.77966774,
        51.17690443,  50.60272094,  68.12706218,  55.23974708,
        74.25488944,  58.89277437,  61.07513228,  79.41736486,
        73.37689286,  50.38341673,  58.29823643,  63.23491279,
        58.74992512,  81.07060415,  68.82991202,  43.10118632,
        54.38727712,  57.84047951,  68.07663628,  73.83096053,
        69.63164566,  71.62273279,  67.22346192,  86.3594613 ,
        50.92726118,  57.09171448,  67.93782838,  65.65800023,
        46.97607033,  69.78909228,  51.07649155,  73.01594797,
        75.85458064,  72.94615603,  85.77232071,  57.46629245,
        77.50137777,  59.78262464,  54.87943223,  65.80619691,
        64.02048682,  82.94031996,  59.97025493,  70.07713994,
        75.10071573,  93.6341975 ,  80.4384153 ,  68.85135836,
        74.6168489 ,  57.5394648 ,  92.20279083,  57.19335908,
        58.92228133,  56.89644245,  85.16131858,  51.86390716,
        75.21684027,  88.86641094,  50.41491839,  46.44833181,
        82.9026724 ,  78.62131138,  64.74640807,  82.80173064,
        53.59733377,  59.01017217,  68.31856456,  64.77376256,
        73.7933698 ,  53.08549797,  84.75768869,  44.19917448,
        67.09973644,  77.51030002,  63.41707363,  58.83781595,
        82.82928971,  61.43667449,  87.9427422 ,  53.64049076,
        69.2311381 ,  66.08656448,  73.88295246,  61.45768958,
        71.84816786,  56.44147664,  60.08202212,  72.31659357,
        43.18165063,  52.91314176,  37.83561833,  82.24120273,
        82.0484549 ,  77.70525536,  62.20720079,  73.7933698 ,
        74.71226739,  50.24256218,  55.45780022, 106.86176642,
        92.57090195,  78.3459271 ,  75.72362015,  87.75169011,
        67.87296902,  97.60544692])